body{
    background-color: bisque;
}

.second{
    background-color: rgb(228, 169, 80);
    height: 700px;
    width: 900px;
    margin-left: 300px;
    margin-top: 10px;
    border: solid;
    border-color: black ;
    
   
}
.second h2{
    margin-left: 350px;
}

.first h1{
    margin-left: 630px;
}

.second li{
    font-weight: bold;
}
.first img{
 
  margin-left: 650px;
  height: 200px;
}
ul{
   list-style-type: square;
}